<div data-role="navbar">
	<ul>
		<li><a href="/comprasqr/carrito" class="ui-btn-active">Ver carrito</a></li>
		<li><a href="/comprasqr/pagar">Pagar</a></li>
	</ul>
</div>
<center><img class="logo-padding" src="/images/akai.png"/></center>
<h1>Combo 1</h1>
<img src="/images/combo1.jpg"/>
<p> 4 madurito roll, 4 dragon roll y 4 california roll. Servidor con guarnici&oacute;n de wasabi y nuestro gengibre cl&aacute;sico.</p>
<p>$7.99+IVA</p>
<p>Env&iacute;o a domicilio inclu&iacute;do en Guayaquil.</p>