<center><img class="logo-padding" src="/images/akai.png"/></center>
<h1>Eduardo, gracias por su compra!</h1>
<p>Su n&uacute;mero de orden es: 118731.</p>
<p>Su tiempo de entrega aproximado es: 35 minutos</p>