<form action="/pagook/">
<div data-role="fieldcontain">
	<label for="coordenadas-1" data-theme="b"><%= coordenadas['codigo1'] %>:</label>
	<input data-theme="c" type="text" name="coordenada-1" id="coordenada-1" value="" placeholder="<%= coordenadas['codigo1'] %>"/>
</div>
<div data-role="fieldcontain">
	<label for="coordenadas-1" data-theme="b"><%= coordenadas['codigo2'] %>:</label>
	<input data-theme="c" type="text" name="coordenada-2" id="coordenada-2" value="" placeholder="<%= coordenadas['codigo2'] %>"/>
</div>
<input data-theme="c" type="submit" name="coordenadas-submit" id="coordenadas-submit" value="Pagar"/>
</form>