<form>
<p class="login-text">
Estimado Cliente, para acceder a Banca Smart debes utilizar tu nombre de usuario. Si a&uacute;n no lo tienes, ingresa a la Banca Electr&oacute;nica y crear tu nombre de usuario.
</p>
<div data-role="fieldcontain">
	<label for="login-username">Usuario:</label>
	<input type="text" name="login-username" id="login-username" value="" placeholder="Usuario"/>
</div>
<a href="/login2/" data-role="button">Entrar</a>
</form>