<form>
<p class="login-text">
Estimado (a) RAAD SERRANO JOSE EDUARDO, antes de ingresar su clave por favor verifique que la Imagen de Seguridad sea la que usted ha elegido. Si no es la correcta, NO ingrese su contraseña y por favor comuníquese inmediatamente al 1700 24 24 24.
</p>
<p class="login-image">Tigre</p>
<img class="login-image" src="/images/lentes.jpg"/>
<div data-role="fieldcontain">
	<label for="login-password">Clave:</label>
	<input type="password" name="login-password" id="login-password" value="" placeholder="Clave"/>
</div>
<a href="/logged/" data-transition="pop" data-role="button">Entrar</a>
</form>