<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
  <li>
  Visualizaci&oacute;n de la Posici&oacute;n consolidada
  <ul>
    <li>Cuentas</li>
    <li>Tarjetas</li>
    <li>Inversiones</li>
    <li>Cr&eacute;dito</li>
  </ul>
  </li>

  <li>
  Men&uacute; Cuentas
  <ul>
    <li>Consultas de saldos</li>
    <li>Ultimos movimientos</li>
    <li>Consulta de cheque</li>
  </ul>
  </li>

  <li>
  Transferencias
  <ul>
    <li>Cuentas propias</li>
    <li>Cuentas de terceros BG</li>
    <li>Cuentas de otras IFIS</li>
  </ul>
  </li>

  <li>
  Tarjetas de cr&eacute;dito
  <ul>
    <li>Saldo utilizado</li>
    <li>Ultimos 10 movimientos</li>
    <li>Cupo autorizado</li>
    <li>Cupo disponible</li>
    <li>Millas/puntos disponibles</li>
    <li>Cupo disponible</li>
    <li>
    Pago y avances de tarjetas de cr&eacute;dito
    <ul>
      <li>Avances</li>
      <li>Pago tarjetas propias</li>
    </ul>
    </li>
  </ul>
  </li>

  <li>
  Servicios
  <ul>
    <li>Consultas y pagos de servicios</li>
  </ul>
  </li>

  <li>
  Consulta de inversiones
  <ul>
    <li></li>
  </ul>
  </li>

  <li>
  Consulta de pr&eacute;stamos
  <ul>
    <li></li>
  </ul>
  </li>

  <li>
  Recargas de tiempo aire
  <ul>
    <li></li>
  </ul>
  </li>

  <li>
  Bloque de tarjetas de cr&eacute;dito y/o d&eacute;bito
  <ul>
    <li></li>
  </ul>
  </li>
  
</ul>