<div data-role="navbar">
	<ul>
		<li><a href="/comprasqr/carrito" class="ui-btn-active">Ver carrito</a></li>
		<li><a href="/comprasqr/pagar">Pagar</a></li>
	</ul>
</div>

<form>
<p class="login-text">
Estimado cliente, ingrese su usuario y contrase&ntilde;a:
</p>
<div data-role="fieldcontain">
	<label for="login-username">Usuario:</label>
	<input type="text" name="login-username" id="login-username" value="" placeholder="Usuario"/>
	<label for="login-username">Contrase&ntilde;a:</label>
	<input type="text" name="login-password" id="login-password" value="" placeholder="Contrase&ntilde;a"/>
</div>
<a href="/comprasqr/pagar2/" data-role="button">Entrar</a>
</form>