<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="formadepago" class="select">Forma de pago:</label>
   <select name="formadepago" id="formadepago" data-theme="c">
      <option value="standard">Amex XXXX5782</option>
      <option value="standard">Cta Aho XXXX3456</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="direccion">Direcci&oacute;n de Env&iacute;o:</label>
	<input type="text" name="direccion" id="direccion" value="" placeholder="Direcci&oacute;n de entrega"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="ciudad" class="select">Ciudad:</label>
   <select name="ciudad" id="ciudad" data-theme="c">
      <option value="standard">Guayaquil</option>
      <option value="standard">Samborond&oacute;n</option>
   </select>
</div>
<a href="/coordenadaspago/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>