<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="postpago-empresa" class="select">Empresa:</label>
   <select name="postpago-empresa" id="postpago-empresa" data-theme="c">
      <option value="standard">Claro</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="postpago-codigo">C&oacute;digo:</label>
	<input type="text" name="postpago-codigo" id="postpago-codigo" value="" placeholder="C&oacute;digo"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="postpago-desc">Descripci&oacute;n:</label>
  <input type="text" name="postpago-desc" id="postpago-desc" value="" placeholder="Descripci&oacute;n"/>
</div>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>