<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="telf-empresa" class="select">Empresa:</label>
   <select name="telf-empresa" id="telf-empresa" data-theme="c">
      <option value="standard">CNT Andino</option>
      <option value="cnel-eloro">CNT Pac&iacute;fico</option>
      <option value="express">ETAPA</option>
      <option value="overnight">Linkotel</option>
      <option value="overnight">SETEL-Telefon&iacute;a TVCable</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="telf-telefono">Tel&eacute;fono:</label>
	<input type="text" name="telf-telefono" id="telf-telefono" value="" placeholder="Tel&eacute;fono"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="telf-desc">Descripci&oacute;n:</label>
  <input type="text" name="telf-desc" id="telf-desc" value="" placeholder="Descripci&oacute;n"/>
</div>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>