<form action="/pagook/">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="recargas-empresa" class="select">Empresa:</label>
   <select name="recargas-empresa" id="recargas-empresa" data-theme="c">
      <option value="standard">Claro</option>
      <option value="cnel-eloro">Movistar</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="recargas-telefono">Tel&eacute;fono:</label>
	<input type="text" name="recargas-telefono" id="recargas-telefono" value="" placeholder="Tel&eacute;fono"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="recargas-valor">Valor:</label>
  <input type="text" name="recargas-valor" id="recargas-valor" value="" placeholder="Valor"/>
</div>
</form>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>