<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
  <li data-role="list-divider">Pagos</li>
  <li><a href="">Pagos realizados</a></li>
  <li data-role="list-divider">Tarjetas de cr&eacute;dito</li>
  <li><a href="">Propias</a></li>
  <li><a href="">Internas</a></li>
  <li><a href="">Otras instituciones</a></li>
  <li data-role="list-divider">Servicios b&aacute;sicos</li>
  <li><a href="/pagos/agua/">Agua</a></li>
  <li><a href="/pagos/luz/">Luz</a></li>
  <li><a href="/pagos/telefono/">Telefon&iacute;a fija</a></li>
  <li><a href="/pagos/recargas/">Recargas Telefon&iacute;a celular</a></li>
  <li><a href="/pagos/postpago/">Postpago Telefon&iacute;a celular</a></li>
  <li data-role="list-divider">Varios</li>
  <li><a href="">Venta de PINES Consulado EEUU</a></li>
  <li><a href="">Instituciones educativas</a></li>
  <li><a href="">IESS y Cias. de Seguros</a></li>
  <li><a href="">Recaudaciones empresariales</a></li>
  <li><a href="">Al&iacute;cuotas, arrendamientos y bienes ra&iacute;ces</a></li>
  <li data-role="list-divider">Veh&iacute;culos y transporte</a></li>
  <li><a href="">Matr&iacute;culas</a></li>
  <li><a href="">Revisi&oacute;n vehicular</a></li>
  <li><a href="">Citaciones</a></li>
  <li data-role="list-divider">Impuestos y tasas</a></li>
  <li><a href="">Aranceles</a></li>
  <li><a href="">Municipales</a></li>
  <li><a href="">SRI</a></li>
  <li><a href="">RISE</a></li>
  <li><a href="">Tasas</a></li>
</ul>