<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="tvpagada-empresa" class="select">Empresa:</label>
   <select name="tvpagada-empresa" id="tvpagada-empresa" data-theme="c">
      <option value="standard">COMM Y NET</option>
      <option value="standard">Easynet</option>
      <option value="standard">Ecuadortelecom Claro Telmex</option>
      <option value="standard">OSSA</option>
      <option value="standard">Satnet - Internet TVCable</option>
      <option value="standard">Suratel - Internet TVCable</option>
      <option value="standard">Transtelco</option>
      <option value="standard">TVCable Ambato</option>
      <option value="standard">TVCable Cuenca</option>
      <option value="standard">TVCable Guayaquil</option>
      <option value="standard">TVCable Ibarra</option>
      <option value="standard">TVCable Loja</option>
      <option value="standard">TVCable Machala</option>
      <option value="standard">TVCable Manta</option>
      <option value="standard">TVCable Portoviejo</option>
      <option value="standard">TVCable Quito</option>
      <option value="standard">TVCable Riobamba</option>
      <option value="standard">TVCable Salinas</option>
      <option value="standard">TVCable Tulc&aacute;n</option>
      <option value="standard">UNIVISA Online</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="tvpagada-codigo">C&oacute;digo:</label>
	<input type="text" name="tvpagafda-codigo" id="tvpagada-codigo" value="" placeholder="C&oacute;digo"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="tvpagada-desc">Descripci&oacute;n:</label>
  <input type="text" name="tvpagada-desc" id="tvpagada-desc" value="" placeholder="Descripci&oacute;n"/>
</div>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>