<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="luz-empresa" class="select">Empresa:</label>
   <select name="luz-empresa" id="luz-empresa" data-theme="c">
      <option value="standard">CENTROSUR Empresa El&eacute;ctrica Regional CENTROSUR C A</option>
      <option value="rush">CNEL El Oro</option>
      <option value="express">CNEL Esmeraldas - EMELESA</option>
      <option value="overnight">CNEL Guayas/R&iacute;os EMELGUR</option>
      <option value="overnight">CNEL Los R&iacute;os</option>
      <option value="overnight">CNEL Manab&iacute; EMELMANABI</option>
      <option value="overnight">CNEL Milagro</option>
      <option value="overnight">CNEL Sta Elena-EMEPE</option>
      <option value="overnight">CNEL Sto Domingo</option>
      <option value="overnight">CNEL Subumb&iacute;os</option>
      <option value="overnight">EEASA-Ambato</option>
      <option value="overnight">EEQ-Empresa El&eacute;ctrica Quito</option>
      <option value="overnight">ERRSSA</option>
      <option value="overnight">El&eacute;ctrica Guayaquil-CATEG</option>
      <option value="overnight">ELEPCO-Cotopaxi</option>
      <option value="overnight">EMELNORTE SA-Ibarra</option>
      <option value="overnight">Empresa El&eacute;ctrica Riobamba</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="luz-codigo">C&oacute;digo:</label>
	<input type="text" name="luz-codigo" id="luz-codigo" value="" placeholder="C&oacute;digo"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="luz-desc">Descripci&oacute;n:</label>
  <input type="text" name="luz-desc" id="luz-desc" value="" placeholder="Descripci&oacute;n"/>
</div>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>