<form action="">
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="agua-empresa" class="select">Empresa:</label>
   <select name="agua-empresa" id="agua-empresa" data-theme="c">
      <option value="standard">Aguapen</option>
      <option value="rush">Amagua</option>
      <option value="express">EAPA San Mateo Esmeraldas</option>
      <option value="overnight">EAPAM Manta</option>
      <option value="overnight">EMAAPQ Agua Potable Quito</option>
      <option value="overnight">EMAPA Ambato</option>
      <option value="overnight">EMAPA Ibarra</option>
      <option value="overnight">EMAPA Santo Domingo</option>
      <option value="overnight">EMAPAD Dur&aacute;n</option>
      <option value="overnight">EMAPAL</option>
      <option value="overnight">EMAPAP-Portoviejo</option>
      <option value="overnight">EMAPAR-Riobamba</option>
      <option value="overnight">ETAPA</option>
      <option value="overnight">Hidroplayas</option>
      <option value="overnight">Interagua</option>
      <option value="overnight">Tripleoro</option>
   </select>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="codigo">C&oacute;digo:</label>
	<input type="text" name="agua-codigo" id="agua-codigo" value="" placeholder="C&oacute;digo"/>
</div>
<div data-role="fieldcontain" class="ui-hide-label">
  <label for="desc">Descripci&oacute;n:</label>
  <input type="text" name="agua-desc" id="agua-desc" value="" placeholder="Descripci&oacute;n"/>
</div>
<a href="/coordenadas/" data-rel="dialog" data-transition="pop" data-role="button">Pagar</a>
</form>