<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
  <li><a href="">Cuentas propias</a></li>
  <li><a href="">Cuentas de terceros</a></li>
  <li><a href="">Otras instituciones</a></li>
</ul>